{{- $textColor := cond .IsHome "light" "primary" -}}
{{- $backgroundColor := cond .IsHome "bg-black" "bg-transparent" -}}
{{- $navPos := cond .IsHome "absolute" "relative" -}}
{{- $currentRelPermalink := .RelPermalink -}}
<nav class="w-full text-{{ $textColor }} text-xl lg:px-8 bg-opacity-50 {{ $backgroundColor }} {{ $navPos }} shadow">
  <div class="flex justify-between items-stretch w-full">
    <a class="flex items-center hover:no-underline py-2 mx-2 lg:ml-0" href="{{ .Site.BaseURL }}/">
      <img src="/img/logo_white_trans.svg" class="h-8 mr-2" alt="Hexenhaus Logo"/>
      <span class="font-headline font-bold text-2xl">Home</span>
    </a>

    <!-- Regular Navigation -->
    <ul class="flex items-stretch list-none m-0">
      {{- with .Site.GetPage "/grundstueck" }}
      {{- $borderColor := cond (hasPrefix $currentRelPermalink .RelPermalink) $textColor "transparent" }}
      <li class="flex items-center lg:mx-2 border-b-2 border-{{ $borderColor }} hover:border-{{ $textColor }}">
        <a class="p-2 hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{- end }}

      {{- with .Site.GetPage "/ueber-uns" }}
      {{- $borderColor := cond (hasPrefix $currentRelPermalink .RelPermalink) $textColor "transparent" }}
      <li class="flex items-center lg:mx-2 border-b-2 border-{{ $borderColor }} hover:border-{{ $textColor }}">
        <a class="p-2 hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{- end }}

      {{- with .Site.GetPage "/kontakt" }}
      {{- $borderColor := cond (hasPrefix $currentRelPermalink .RelPermalink) $textColor "transparent" }}
      <li class="flex items-center lg:mx-2 border-b-2 border-{{ $borderColor }} hover:border-{{ $textColor }}">
        <a class="p-2 hover:no-underline" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
  </div>
</nav>
