{{ define "main" }}
  <section class="flex items-center bg-cover bg-no-repeat bg-bottom" style="background-image: url({{ .Site.BaseURL }}/img/home/banner-bg@2x.jpg);">
    <header class="container flex items-center text-light py-24 md:py-24 lg:py-32">
      <div class="w-full md:w-2/3 lg:w-3/5">
        <h1 class="font-medium text-4xl mb-6">Grundstück gesucht</h1>
        <p class="text-lg md:text-xl mb-6">Wir suchen ein Grundstück.</p>
      </div>
    </header>
  </section>

  <div>
    {{ .Content }}
  </div>
{{ end }}
